* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: #000;
  height: 60px;

  a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
}

.nav-item {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 10px;
}

.nav-item.has-children:hover .submenu {
  display: block;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
